<ul>
  <app-media-card *ngFor="let media of mediaService.currentView" [media]="media"></app-media-card>
</ul>

<div *ngIf="!mediaService.currentView" class="alert alert-danger" role="alert">
  There are no media for this search result or there is a problem with the server!
</div>