<div *ngIf="mediaService.mediaByType" class="nav flex-column nav-pills"  aria-orientation="vertical">
  <a *ngFor="let rcTab of mediaService.getTypesForSideBar()" [ngClass]="{active: rcTab.type === currentTab}" class="pointer nav-link" (click)="tabClick(rcTab.type)">{{rcTab.type}} ({{rcTab.amount}})</a>
</div>
