<div class="row">
  <div class="col-3"></div>
  <div class="col-9">      
    <div class="form-inline">
      <input class="form-control mr-sm-2"  type="search" placeholder="Search" aria-label="Search" #searchBox id="search-box" [(ngModel)]="searchWord" (keyup)="search()">
      <button class="btn btn-info apper-control" (click)="clear()">Clear</button>
      <button class="btn btn-success apper-control" (click)="refresh()">Refresh</button>
      <button class="btn btn-success apper-control" (click)="badRefresh()">Refresh With Error</button>
      <button class="btn btn-warning apper-control" (click)="sort()">Sort</button>
    </div>
  </div>
</div>