<div class="container" *ngIf="mediaService.currentView">
	<div class="row">
    <div class="col-md-12">
      <div class="table-responsive rc-scroll">
        <table id="mytable" class="table table-bordred table-striped">          
          <thead> 
            <th>imdbID</th>
            <th>Poster</th>
            <th>Title</th>
            <th>Year</th>
            <th>Type</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr *ngFor="let media of mediaService.currentView" style="max-height: 100px;">
              <td>{{media.imdbID}}</td>
              <td><img style="max-height: 100px;" routerLink="/mediaView/{{media.imdbID}}" *ngIf="media.Poster &&media.Poster != null && media.Poster != 'N/A'" src="{{media.Poster}}" class="media-img pointer" alt="" ></td>
              <td>{{media.Title}}</td>
              <td>{{media.Year | date: 'yyyy'}}</td>
              <td>{{media.Type}}</td>
              <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!mediaService.currentView" class="alert alert-danger" style="margin-top: 50px" role="alert">
  There are no media for this search result or there is a problem with the server!
</div>