<div class="container change-view-container">
  <app-upper-controler></app-upper-controler>
  <div class="row">
    <div class="col-3">
      <app-side-bar></app-side-bar>
      <div class="change-view-container">
        <button *ngIf="view === 'table'" routerLink="frame" class="btn btn-info" (click)="toggleView()">Change View</button>
        <button  *ngIf="view === 'frame'"routerLink="table" class="btn btn-info" (click)="toggleView()">Change View</button>
      </div>
    </div>
    <div class="col 9">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-message></app-message>
</div>

