<button (click)="goBack()">go back</button>
<div *ngIf="media" class="card mb-3">
    <img class="card-img-top" src="{{media.Poster}}" alt="Card image cap" style="max-height: 300px; width: auto;">
    <div class="card-body">
      <h5 class="card-title">{{media.Title}}</h5>
      <p class="card-text">{{media.Type}}</p>
      <p class="card-text"><small class="text-muted">{{media.year | date: 'yyyy'}}</small></p>
    </div>
  </div>
