<div *ngIf="messageService.messages.length">

  <h2>Messages</h2>
  <button class="clear btn btn-danger"
          (click)="messageService.clear()">clear</button>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>

</div>
