<li  style="margin-top: 10px; min-height: 110px; border: solid 4px black; padding: 8px; border-radius: 5px">
  <div class="row">
    <div class="col 3"><img routerLink="/mediaView/{{media.imdbID}}" *ngIf="media.Poster &&media.Poster != null && media.Poster != 'N/A'" src="{{media.Poster}}" class="media-img pointer" alt="" ></div>
    <div class="col-6">
      <div class="row" style="border: solid 2px black; border-radius: 3px; margin: 5px; padding: 3px;">{{media.Title}}</div>
      <div class="row" style=" text-align: center; text-justify: auto; border: solid 2px black; border-radius: 3px; margin: 5px; padding: 3px;">{{media.Year | date: 'yyyy'}}</div>
    </div>
  </div>
</li>